version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      production:
        dependency-type: "production"
      development:
        dependency-type: "development"
    ignore:
      - dependency-name: "scipy"
        versions:
          - ">=1.16.0"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
