name: CI
on:
  pull_request:
    paths:
      - '**.py'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/workflows/ci.yaml'
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - run: sh -c "exit 0"
