name: CI
on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check changed files
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            app-test:
              - '**.py'
              - 'pyproject.toml'
              - 'uv.lock'
              - '.github/workflows/ci.yaml'

      - if: steps.changes.outputs.app-test == 'true'
        run: |
          echo Running tests...
          sleep 300
